.title{
	font-size: 25px;
	font-weight: bolder;
	padding: 20px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
.content{
	width: 80%;
}
}

.text{

	color:White;
	font-size: 20px;
	padding-bottom: 10px;
	
}
.box{
		color:black;;
	background: gray;
	
	
	
}
p{
	padding:20px;
}
